# Token público de Mapbox para renderizar los mapas
VITE_MAPBOX_TOKEN=tu_token_de_mapbox_aqui

# Credenciales de Firebase (Obligatorias para el funcionamiento del sistema)
VITE_FIREBASE_API_KEY=tu_api_key_de_firebase
VITE_FIREBASE_AUTH_DOMAIN=tu_auth_domain_de_firebase
VITE_FIREBASE_DATABASE_URL=tu_database_url_de_firebase
VITE_FIREBASE_PROJECT_ID=tu_project_id_de_firebase
VITE_FIREBASE_STORAGE_BUCKET=tu_storage_bucket_de_firebase
VITE_FIREBASE_MESSAGING_SENDER_ID=tu_messaging_sender_id_de_firebase
VITE_FIREBASE_APP_ID=tu_app_id_de_firebase
